<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet> 
  <servlet>
    <servlet-name>StudentServlet</servlet-name>
    <servlet-class>servlet.StudentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TeacherServlet</servlet-name>
    <servlet-class>servlet.TeacherServlet</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>AdminServlet</servlet-name>
    <servlet-class>servlet.AdminServlet</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeacherServlet</servlet-name>
    <url-pattern>/teacher</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentServlet</servlet-name>
    <url-pattern>/student</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
  	<welcome-file>/index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
